/* Site designed by Jamie Steines */



/* FONT & TEXT STYLES */


h1 {
	padding:0;
  font-family: 'Montserrat', sans-serif;
	font-weight:100;
	font-size:30px;

}

h2{
	font-family: 'Great Vibes', cursive;
	font-size:25px;
	font-weight:400;
	font-style:normal;
	margin:15px;

}
h3 {
  font-family: 'Montserrat', sans-serif;
	font-weight:100;
	font-size:26px;
	color:#FFFFFF;
	margin:20px 0px 20px 0;

}
h4 {
  font-family: 'Montserrat', sans-serif;
	font-weight:100;
	font-size:15px;
	color:rgb(225,86,97);

}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight:100;
	font-size:14px;
	line-height: 18px;
	color:#363636
}
p a {
	text-decoration: none;
	color: rgb(220,79,83);
}
p a:hover{
	color: rgb(248,202,105);
}


/* MAIN SITE STYLES */



html {
	margin: 0;
	padding: 0;
	height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
  max-width: 100%;
  overflow-x: hidden;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url("images/Background.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height:25px;
}


.content-box{
	position:absolute;
	top:50%;
	left:50%;
	width:900px;
	margin-left:-450px;
}

.container {
	height:100%;
	margin: 0;
	padding: 0;

}

.slide {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}



/* NAVIGATION */

#header{
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	height: 63px;
	margin:0;
	background-image: url(images/wood.jpg);
	filter:alpha(opacity=70);
	/* CSS3 standard */
	opacity: .9;
	z-index: 1;
}
ul#navigation {
	display:block;
	padding:0;
	text-align:center;
	cursor: pointer;
}
ul#navigation li {
    display:inline;
	margin:10px;
    text-decoration:none;
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight:400;
    text-shadow: #000 0 0 0;
}
ul#navigation li:hover {
    	color:#bebebe;
    	font-weight:400;
    	text-shadow: #000 0 0 0;
}


/* HOME SLIDE */



.home {
}

.home .content-box{
  display: block;
  height: 340px;
	text-align: center;
	margin-top:-187px;
	vertical-align: middle;
	position:absolute;
	top:50%;
	left:50%;
	width:900px;
	margin-left:-450px;
}

.home-title{
	font-size: 55px;
	display:block;
	margin-top: 20%;
	position: relative;
}

.home-date{
	padding-top: 20px;
}

.home-img {
	display:block;
	margin: auto;
	position: relative;
	/* text-indent: -9999px; */
	width: 900px;
	height: auto;
	/* background: url(images/JP-title_floral.png) no-repeat; */
}



/* PICTURES SLIDE */



.pictures {
}

.pictures .content-box{
  display: block;
  height: 290px;
  vertical-align: middle;
	text-align: center;
	margin-top:-180px;
	vertical-align: middle;
	position:absolute;
	top:45%;
	left:50%;
	width:900px;
	margin-left:-450px;
	}

.pictures-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}
.gallery-title{
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}
.gallery-subtitle{
	font-size:25px;
	margin-top:25px;
	text-align: center;
	color:rgb(0,0,0)
}

.arrow{
	font-size: 15px;
}

.gallery {
	border-top: 2px solid;
	border-bottom: 2px solid;
	position:relative;
	padding: 5px 0;
	display:block;
	overflow:auto;
	margin-top:15px;
	width:100%;
	height:200px;
	margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.gallery-image{
	height:200px;
	width: auto;
}

.firstpic{
	padding-left:5px;
	border-left: 2px solid;
}

.lastpic{
	padding-right:5px;
	border-right: 2px solid;
}

/* SHADOW BOX GALLERY */

.row > .column {
  padding: 0 8px;
}


.row{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
	.column{
    display: inline-block;
	}
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* OUR STORY */



.story {
}

.story .content-box{
  display: block;
  vertical-align: middle;
	text-align: center;
	height:460px;
	margin-top:-260px;
	position:absolute;
	top:60%;
	left:50%;
	width:900px;
	margin-left:-450px;
	}

.story-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}

.story h2 {
	display:block;
	position: relative;
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}

.timeline {
	position:relative;
	display:block;
	overflow:auto;
	margin-top:40px;
	height:290px;
	background: url(images/arrow.png) no-repeat;
	background-position: 0px 0px;
}

.first {
	margin-left:100px;
	margin-top:26px;
}

.second {
	margin-left:70px;
	margin-top:26px;
}

.third {
	margin-left:50px;
	margin-top:26px;
}

.fourth {
	margin-left:90px;
	margin-top:26px;
}

.fifth {
	margin-left:50px;
	margin-top:26px;
}

.sixth {
	margin-left:80px;
	margin-top:26px;
}
.seventh {
	margin-left:20px;
	margin-top:26px;
}

.heart {
	display:block;
	position: relative;
	text-indent: -9999px;
	width: 46px;
	height: 44px;
	background: url(images/heart.png) no-repeat;
    float:left;
    cursor: pointer;
}

.heart span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(images/heart.png) no-repeat;
	background-position: -46px 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
.heart:hover span {
	opacity: 1;
	filter:alpha(opacity=100);
}
.highlights h4 {
	display:none;
  	position:absolute;
  	background-color: rgb(230,230,230);
  	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  	width:550px;
  	top:80px;
	text-align: center;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
.highlights:hover h4{
	display:block;
	opacity: 1;
	filter:alpha(opacity=100);
}
.highlights h4 span{
	font-size: 40px;
	line-height: 40px;
}


/* EVENT INFO */



.info {
}

.info .content-box{
  display: block;
  vertical-align: middle;
	text-align: center;
	height:450px;
	margin-top:-260px;
	position:absolute;
	top:65%;
	left:50%;
	width:900px;
	margin-left:-450px;
	}

.info-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}

.info h2 {
	display:block;
	position: relative;
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}

.map-content{
	float:left;
	width:451px;
	height:311px;
}
.info-content{
	float:left;
	width:420px;
	height:311px;
	padding-left:29px;
}
.info-content h2{
	margin-left:0;
	margin-bottom:30px;
	color:rgb(248,191,84);
}
.info-content h3{
	margin:0;
	margin-bottom:16px;
}
.more-info{
	clear:both;
	margin-top:52px;
	width:420px;
}
#inline1 {
	padding:25px;
}
#inline1 span{
	text-align: center;
}
.line-seperator{
	display:block;
	margin:auto;
	margin-top:28px;
	margin-bottom:28px;
	height:1px;
	width:450px;
	background:#bbbbbb;
}
.get-directions{
	clear:both;
	margin-top:43px;
	width:420px;
}
.btn{
	position:relative;
	margin:0;
	text-align:center;
  font-family: 'Montserrat', sans-serif;
	font-size:55px;
	font-weight:normal;
	text-decoration:none;

	 -webkit-transition-property:color, background-color;
	 -webkit-transition-duration: .5s, .5s;
	 -webkit-transition-timing-function: linear, ease-in;
	 -moz-transition-property:color, background-color;
	 -moz-transition-duration: .5s, .5s;
	 -moz-transition-timing-function: linear, ease-in;
	 -o-transition-property:color, background-color;
	 -o-transition-duration: .5s, .5s;
	 -o-transition-timing-function: linear, ease-in;
	 -ms-transition-property:color, background-color;
	 -ms-transition-duration: .5s, .5s;
	 -ms-transition-timing-function: linear, ease-in;
}

.info.btn{
	padding: 10px 95px 10px 95px;
	background-color:rgb(248,191,84);
	color:#FFFFFF;
}

.info.btn:hover {
	color: rgb(220,79,83);
	background-color:#FFFFFF;
}
.directions.btn{
	padding: 10px 79px 10px 79px;
	background-color:rgb(248,191,84);
	color:#FFFFFF;
}
.directions.btn:hover {
	color: rgb(220,79,83);
	background-color:#FFFFFF;
}



/* WEDDING PARTY */



.party {
}

.party .content-box{
  display: block;
  vertical-align: middle;
	text-align: center;
	position:absolute;
	top:60%;
	left:50%;
	width:900px;
	margin-left:-450px;
	height:350px;
	margin-top:-210px;
}


.party-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}

.party h2 {
	display:block;
	position: relative;
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}



/* RSVP */



.rsvp {
}

.rsvp .content-box{
  display: block;
  vertical-align: middle;
	text-align: center;
	height:460px;
	margin-top:-260px;
	position:absolute;
	top:60%;
	left:50%;
	width:900px;
	margin-left:-450px;
	}

.rsvp-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}

.rsvp h2 {
	display:block;
	position: relative;
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}
.rsvp-now{
	display:block;
	margin:0 auto;
	margin-top:30px;
	width:780px;
	height:240px;
}
.labels {
	position:relative;
	float:left;
	width:240px;
	height:240px;
	margin-top:0px;
}
.labels h3{
	padding-bottom:6px;
	text-align: right;
  font-family: 'Montserrat', sans-serif;
	font-size:53px;
	font-weight:normal;
	color:#FFFFFF;
	margin:20px 0px 20px 0;
}
.guest-name span{
	color:rgb(248,191,84);
}
.forms{
	position:relative;
	width:210px;
	height:240px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	margin-right:0px;
	float:left;
}
#name-form{
	width:200px;
	height:30px;
	font-size:25px;
	color:#4a4a4a;
	margin-top:15px;
}
#guest-form{
	width:200px;
	height:30px;
	font-size:25px;
	color:#4a4a4a;
	margin-top:15px;
}
#attending-form{
	width:200px;
	height:30px;
	font-size:25px;
	color:#4a4a4a;
	margin-top:15px;
}
#email-form{
	width:200px;
	height:30px;
	font-size:25px;
	color:#4a4a4a;
	margin-top:15px;
}
.submit-container {
	position:relative;
	width:205px;
	height:240px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:55px;
	margin-right:0px;
	float:left;
}
.password {
	text-align: center;
	margin-top:30px;
	margin-bottom:15px;
	margin-right:0;
	margin-left:0;
}
#password-form{
	display:block;
	width:200px;
	height:30px;
	font-size:25px;
	color:#4a4a4a;
	margin:0;

}
.submit{
	margin:0;
	padding:0;
	width:200px;

}
.submit-btn{
	position:relative;
	padding: 5px 53px 5px 53px;
	margin-top:20px;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
	background-color:rgb(248,191,84);
  font-family: 'Montserrat', sans-serif;
	font-size:55px;
	font-weight:normal;
	color:#FFFFFF;
	text-decoration:none;
	border:0;
	cursor:pointer;

	 -webkit-transition-property:color, background-color;
	 -webkit-transition-duration: .5s, .5s;
	 -webkit-transition-timing-function: linear, ease-in;
	 -moz-transition-property:color, background-color;
	 -moz-transition-duration: .5s, .5s;
	 -moz-transition-timing-function: linear, ease-in;
	 -o-transition-property:color, background-color;
	 -o-transition-duration: .5s, .5s;
	 -o-transition-timing-function: linear, ease-in;
	 -ms-transition-property:color, background-color;
	 -ms-transition-duration: .5s, .5s;
	 -ms-transition-timing-function: linear, ease-in;
}

.submit-btn:hover {
	color: rgb(248,191,84);
	background-color:#FFFFFF;
	border:0;
}

.questions{
	clear:both;
	margin-top:20px;
	text-align:center;
}
.questions a{
	color:rgb(248,191,84);
	text-decoration:none;
}

/* GIFTS & REGISTRY */



.gifts {
	height:100%;
	position: relative;
}

.gifts .content-box{
	height:420px;
	margin-top:-250px;
  display: block;
  vertical-align: middle;
	text-align: center;
	position:absolute;
	top:60%;
	left:50%;
	width:900px;
	margin-left:-450px;
}

.gifts-title {
	font-size: 60px;
	display:block;
	margin-top: 10%;
	position: relative;
}

.gifts h2 {
	display:block;
	position: relative;
	font-size:35px;
	margin-bottom:25px;
	text-align: center;
	color:rgb(169,169,169)
}

.registry-imgs{
	display:relative;
	margin:0 auto;
	width:644px;
}

.registry {
	display:block;
	position: relative;
	text-indent: -9999px;
	width: 282px;
	height: 99px;
    float:left;
    margin-right:20px;
    margin-left:20px;
}

.registry span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgb(230,230,230);
	background: url(images/wsonoma.jpg) no-repeat;
	background-position: -282px 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
.registry:hover span {
	opacity: 1;
	filter:alpha(opacity=100);
}

.wsonoma{
	background: url(images/wsonoma.jpg) no-repeat;
}
.wsonoma span{
	background: url(images/wsonoma.jpg) no-repeat;
	background-position: -282px 0;
}
.pbarn{
	background: url(images/pbarn.jpg) no-repeat;
}
.pbarn span{
	background: url(images/pbarn.jpg) no-repeat;
	background-position: -282px 0;
}
.bbeyond {
	clear:both;
	background: url(images/bbeyond.jpg) no-repeat;
}
.bbeyond span{
	background: url(images/bbeyond.jpg) no-repeat;
	background-position: -282px 0;
}
.target{
	background: url(images/target.jpg) no-repeat;
}
.target span{
	background: url(images/target.jpg) no-repeat;
	background-position: -282px 0;
}

@media (min-width: 450px) {
    body {
			background-image: url("images/Background.png");
			background-size: cover;
		  background-repeat: no-repeat;
    }


		h1 {
			padding:0;
		  font-family: 'Montserrat', sans-serif;
			font-weight:100;
			font-size:60px;

		}

		h2{
			font-family: 'Great Vibes', cursive;
			font-size:50px;
			font-weight:400;
			font-style:normal;
			margin:15px;

		}
		h3 {
		  font-family: 'Montserrat', sans-serif;
			font-weight:100;
			font-size:53px;
			color:#FFFFFF;
			margin:20px 0px 20px 0;

		}
		h4 {
		  font-family: 'Montserrat', sans-serif;
			font-weight:100;
			font-size:30px;
			color:rgb(225,86,97);

		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-weight:100;
			font-size:14px;
			line-height: 18px;
			color:#363636
		}
		ul#navigation li {
		    display:inline;
			margin:10px;
		    text-decoration:none;
		    color:#FFFFFF;
		    font-family: 'Montserrat', sans-serif;
		    font-size:30px;
		    font-weight:400;
		    text-shadow: #000 0 0 0;
		}

		.home-title{
			font-size: 130px;
			display:block;
			margin-top: 20%;
			position: relative;
		}

		.pictures-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}

		.story-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}

		.info-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}

		.party-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}

		.rsvp-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}

		.gifts-title {
			font-size: 130px;
			display:block;
			margin-top: 10%;
			position: relative;
		}
}
